.Character {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgb(138, 138, 138);
    transition: 0.3s;
    font-weight: bold;
    aspect-ratio: 1/1;
}

.Character:hover {
    transform: scale(0.95);
}

.Character img {
    width: 100%;
    z-index: 2;
    border-radius: 10px;
}

.shadow {
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    z-index: 2;
    border-radius: 10px;
}

.Character-info {
    width: calc(100% - 15px);
    position: absolute;
    bottom: 5px;
    left: 15px;
    z-index: 3;
}

.Character-info h3 {
    color: red;
    font-size: 1rem;
}

.Character p {
    color: rgb(233, 233, 233);
}

@media (max-width: 700px) {
    .Character h3 {
        font-size: 0.7rem;
    }

    .Character p {
        font-size: 0.7rem;
    }
}

@media (max-width: 450px) {
    .Character {
        padding: 3px;
    }

    .shadow {
        width: calc(100% - 6px);
        height: calc(100% - 6px);
    }

    .Character-info {
        left: 10px;
        bottom: 0;
    }
}