.Location {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    color: black;
    font-weight: bold;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 3px 3px 10px rgb(138, 138, 138);
    transition: 0.5s;
}

.Location:hover {
    padding: 10px;
    background-color: rgb(8, 65, 104);
}

.Location:hover .Location-type {
    color: white;
}
.Location:hover .Location-hidden-info {
    display: flex;
}

.Location-name {
    color: red;
}

.Location-hidden-info {
    display: none;
    flex-direction: column;
    transition: 0.5s;
    color: white;
}

.Location-hidden-info span {
    color: red;
}

@media (max-width: 450px) {
    .Location-hidden-info {
        font-size: 0.7rem;
    }
}