@import url('https://fonts.googleapis.com/css2?family=Radio+Canada&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.CharacterPage {
    position: relative;
    display: flex;
    max-width: 1400px;
    align-items: center;
    background-color: black;
}

.CharacterPage img {
    width: 50%;
    height: 100vh;
    z-index: 1;
}

.CharacterPage-data {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    color: white;
    z-index: 3;
    padding: 20px 40px 0 30px;
    text-align: right;
}

.CharacterPage-data h1 {
    color: red;
    font-size: 2.7rem;
    margin-bottom: 20px;
    font-family: 'Radio Canada', sans-serif;
}

.CharacterPage-data p {
    font-size: 1.7rem;
    margin: 7px 0;
    font-family: 'Radio Canada', sans-serif;
}

.CharacterPage-data span {
    color: rgb(116, 116, 116);
}

.shadow-effect {
    position: absolute;
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(to right, transparent, black 46%);
    z-index: 2;
}

.CharacterPage .LoadingDiv {
    width: 100%;
    height: 100vh;
}

@media (max-width: 750px) {
    .CharacterPage img {
        width: 60%;
    }

    .CharacterPage-data {
        padding: 20px;
    }

    .CharacterPage-data h1 {
        font-size: 2rem;
    }

    .CharacterPage-data p {
        margin: 5px 0;
        font-size: 1.3rem;
    }

    .shadow-effect {
        background-image: linear-gradient(to right, transparent, black 60%);
    }
}

@media (max-width: 550px) {
    .CharacterPage img {
        width: 100%;
    }

    .CharacterPage-data {
        position: absolute;
    }

    .CharacterPage-data span {
        color: rgb(192, 192, 192);
    }

    .shadow-effect {
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
    }
}

@media (max-width: 420px) {
    .CharacterPage {
        flex-direction: column;
    }

    .CharacterPage img {
        height: 100%;
    }

    .CharacterPage-data {
        position: static;
        height: fit-content;
    }

    .CharacterPage-data span {
        color: rgb(116, 116, 116);
    }
}